"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-vue-component"
      "linter-pylama"
      "linter"
      "go-plus"
      "language-typescript-react"
      "atom-typescript"
      "language-typescript"
      "jslint"
    ]
    packagesWithKeymapsDisabled: [
      "minimap"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "babel-react-syntax"
    ]
  editor:
    fontSize: 13
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e230802c-0ef7-4ef2-b08e-27acb3e58209"
  "language-babel":
    disableWhenNoBabelrcFileInPath: false
  "linter-eslint":
    autofix:
      fixOnSave: true
  "linter-ui-default":
    panelHeight: 300
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
  "tree-view": {}
  welcome:
    showOnStartup: false
